{% load static %}
{% load template_extras %}
<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="sidebar col-lg-3 col-md-4">
                <h2>Cornu Cats Wiki</h2>
                <form action="{% url 'encyclopedia:search' %}" method="GET">

                    {{ form }}

                    <div class="search_button" style="margin-top: 10px">
                        <button type="submit" class="btn btn-primary mb-2">MeowMeow Search</button>
                    </div>
                </form>
                <div>
                    <a href="{% url 'encyclopedia:index' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:new' %}">Spot a new Meow</a>

                </div>
                <div>
                    <a href="{% url 'encyclopedia:random' %}">Random Meow Dose</a>

                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-9 col-md-8">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>